body{
    background: black;
}

*{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color: yellow;
    font: 500;
}

h1, h2, h3, h4, h5, h6{
    background: yellow;
    color: black;
    display: table;
    margin: auto;
    margin-bottom: 1em;
    padding: 1em;
}

img{
    width: 50%;
    height: 50%;
    margin: auto;
}

main.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 2em;
    grid-column-gap: 2em;

}
main > section{

    padding: 1em;
    margin-left:2.5%;
    margin-right:2.5%;
    border-radius: 0% 0% 0% 0%;
    border-top: solid rgba(0, 0, 0, 0.342) 5px;
}

main > *{
    color: yellow;
}

main a{
    color: white;
    background: black;
    border: solid yellow 1px;
    font-size: 2em;
}

main a:hover{
    color: yellow;
}


section.chapter{
    background-color: black;
    text-align: center;

}

section.chapter h2{
    font-size: 2em;
}

section.chapter p{
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    
}

section.chapter ul{
    list-style: circle;
    text-align: left;
    max-width: 40em;
    background-color: black;
    color: yellow;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



section.chapter ul li{
    padding-top:1em;
    font-size: 1em;

}

section.chapter ul li:hover, section.chapter ul li:focus{
    padding-top:1em;
    font-size: 1em;
    background-color:yellow;
    color: black;
    border: dashed black 1px;
}

section.chapter ul li:last-child{
    padding-bottom: 1em;
}

section ul.skillpoints{
    list-style-type: none;
}

section ul.skillpoints li{
    height: 2em;
    border-bottom: solid white 2px;
}

section ul.skillpoints li:last-child{
    border-bottom: none;
}


.firstBlock {
    border-top: solid rgb(0, 0, 0) 5px;
    border-bottom: solid rgb(0, 0, 0) 5px;
    background-color: black;
    text-align: center;
    margin-bottom: 2em;
    padding-bottom: 2em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.firstBlock h1{
    background-color:black;
}

.firstBlock p{
    width: 55%;
    margin: auto;
}

/* Style the navigation menu */
nav{
    margin: 0;
}
.main-navigation{
    margin: none;
}
.main-navigation > ul {
    background-color: black;
    display: flex;
    justify-content: space-around;
    list-style: none;
    height: 2em;
    margin: 0;
    padding-top:1.5em;
    padding-bottom: 1.5em;
  }

  
  /* Navigation links */
  .main-navigation a {
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    width: 33%;
    text-align: center; /* If you want the text to be centered */
  }
  
  /* Add a background color on mouse-over */
  .main-navigation a:hover {
    color: yellow;
  }


  .summary {
      margin-bottom: 2em;
      padding-top: 1em;
      display: block;
      width: 80%;
      margin: auto;
  }



  footer{
      height: 4em;
      margin: auto;
      text-align:center;
      color: yellow;
  }

  form{
      height: 100%;
      width:50%;
      margin: auto;
      display: block;
      color: white;
      background-color:rgba(0, 0, 0, 0.226);
      border-radius: 5%;
      padding: 2em;
      background-color: black;
  }

  form fieldset{
      border: none;
  }

  form button {
    background-color: yellow;
    color: black;
    border-radius: 4px;
    border: solid yellow 2px;
    width: 100%;
    height: 4em;
}

  form input {
        width: 100%;
        padding: 1em 2em;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }


      form input.messagebox{
          height: 10em;
      }

      /* Style the header: fixed position (always stay at the top) */
header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
  }
  
  /* The progress container (grey background) */
  .progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 8px;
    background: yellow;
    width: 0%;
  }

  .hidden > ul li{
      display: none;
  }

  button#styleMain{
      background-color: #004682;
      color: white;
      border: solid white 4px;
      padding: 1em;
  }

  button#styleAccessibility{
      background-color: black;
      padding: 1em;
      color: yellow;
      font-size: 1em;
      border: solid yellow 4px;

  }

